body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background: #dddddd;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #003366;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #003366;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}
